.bolder {
  font-weight: bold;
}

#map {
  height: 100%;
}

.body-background {
  background-color: #1976d2;
  background-image: url("../images/nistri.png");
  padding: 10px;
}

.body-background2{
  background-image: url("../images/nistri.png");
  padding: 10px;
}

.fa-whatsapp {
  font-size: 24px;
  color: rgba(250, 250, 250, 1)
}

.border-webkit{
  font-weight: bold;
  color: #2196f3;
  -webkit-text-stroke: 2px white;
}

.border-webkit2{
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 2px #FF5252;
}

.nav-color {
  background-color: #1976d2;
}

.above-bar {
  background-image: url("../images/Logo-bar.png");
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
}


.nav-menu {
  width: 20%;
  border: 1px solid #2196f3;
  border-top: 0px;
}

.pronto-logo {
  width: 350px;
  height:300px;
  border: 5px solid white;
}

.card-back {
  background-color: #FF5252;
  background-image: url("../images/nistri.png");
}

.icon-back, .icon-back:hover {
  background-color: #1976d2;
}

.card-back {
  background-color: #FF5252;
  background-image: url("../images/nistri.png");
}

.btn-back, .btn-back:hover{
  background-color: #FF5252;
}

.whatsapp-back, .whatsapp-back:hover{
  background-color: rgb(44,189,165)
}
@media screen and  (max-width: 600px) {
  .above-bar {
    height: 150px;
  }
}
